* {
  margin: 0;
  color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar {
  padding: 20px;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  align-items: center;
  border-bottom: 1px solid black;
}
.navbar h1 {
  color: navy;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  text-decoration: none;
  color: rgb(67, 66, 66);
  margin-left: 16px;
  padding: 6px;
}
.navbar a:hover {
  color: rgb(227, 15, 15);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 0 20px;
}

.blog-preview {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px 0;
  padding-bottom: 10px 16px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}
.blog-preview h2 {
  color: #f71111;
  font-size: 20px;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

.blog-details h2 {
  color: #f71111;
  font-size: 20px;
  margin-bottom: 8px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background-color: #f1356d;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create textarea {
  width: 100%;
  height: 100px;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  display: block;
  border: 1px solid #ccc;
}
.create input,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  display: block;
  border: 1px solid #ccc;
}
.create h2 {
  color: #f71111;
  margin-bottom: 30px;
  font-size: 20px;
}
.create button {
  background-color: #f1356d;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
